<div class="panel panel-default">
  <div class="panel-heading">Store Details</div>
  <div class="panel-body">

    <div class="form-group">
      <label  class="col-sm-3 control-label"><%= f.label :name %></label>
      <div class="col-sm-9">
        <%= f.text_field :name, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label  class="col-sm-3 control-label"><%= f.label :address %></label>
      <div class="col-sm-9">
        <%= f.text_field :address ,:onclick=>'initialize($(this).data("storeid"));
  ' ,:class => "form-control" ,data: {storeid: f.options[:child_index]} %>
      </div>
    </div>
    <div class="form-group">
      <label  class="col-sm-3 control-label"><%= f.label :latitude %></label>
      <div class="col-sm-9">
        <%= f.text_field :latitude, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <label  class="col-sm-3 control-label"><%= f.label :longitude %></label>
      <div class="col-sm-9">
        <%= f.text_field :longitude, :class => "form-control" %>
      </div>
    </div>
      
    <div class="form-group">
      <label  class="col-sm-3 control-label"><%= f.label :contact_person %></label>
      <div class="col-sm-9">
        <%= f.text_field :contact_person, :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <label  class="col-sm-3 control-label"><%= f.label :contact_number %></label>
      <div class="col-sm-9">
        <%= f.number_field :contact_number, :class => "form-control" %>
      </div>
    </div>
    
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <%= f.link_to_remove "Remove this Store", :class => "btn btn-danger" %>
    </div>
  </div>
</div>
<script type="text/javascript">
  function initialize(val) {
    address="business_stores_attributes_"+val+"_address"
    address = new google.maps.places.Autocomplete(
    (document.getElementById(address)),
    { types: ['geocode'] });
     google.maps.event.addListener(address, 'place_changed', function () {
        fillInAddress(address,val);
    });
  }
  function fillInAddress(address,val) {
    var place = address.getPlace();
    latitude="#business_stores_attributes_"+val+"_latitude"
    longitude="#business_stores_attributes_"+val+"_longitude"
    $(latitude).val(place.geometry.location.lat().toFixed(7));
    $(longitude).val(place.geometry.location.lng().toFixed(7));
}
</script>