<div class="col-md-12" id="div_3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
       <i class="fa fa-arrows-h"></i>   New Business
       <span class="panel-options">
        
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-2"></div>
    
      <%= form_for([:admin,@setting_content], :html => {:class => "form-horizontal col-md-12"}) do |f| %>
        <div class="form-group">
          <div class="col-sm-12">
              <label  class="col-sm-0 control-label"><%= f.label :terms_condition %></label>
          </div>
          <div class="col-sm-12">
            <%= f.text_area :terms_condition, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-12">
              <label  class="col-sm-0 control-label"><%= f.label :about_us %></label>
          </div>
          <div class="col-sm-12">
            <%= f.text_area :about_us, :class => "form-control" %>
          </div>
        </div>
    
        <div class="actions">
          <%= f.submit class: "btn btn-success" %>
        </div>
    <% end %>
  </div>
</div>
</div>