<div class="col-md-12">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-archive"></i> Listing Offers
        <span class="panel-options">
          <%= link_to 'New Offer', new_business_offer_path, class: "label label-success" %>
        </span>
      </h3>
    </div>
    <div align="right" style="margin-right:2%;margin-top: 5px;" > 
      <%= form_tag(business_offers_path, :method => "GET") do %>
          <span> Filter by store </span>
           <%= select_tag 'store_id', options_from_collection_for_select(@stores, "id", "name", params[:store_id]), :prompt => 'All', hide_label: true, class: "input-sm", onchange: "this.form.submit();"  %>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <div id="example_wrapper" class="dataTables_wrapper" role="grid">
          <div class="dataTables_length" id="example_length">
          </div>
          <div id="example_filter" class="dataTables_filter pull-right">
              
          </div>
          <table aria-describedby="example_info" class="table table-bordered table-hover table-striped display dataTable" id="example">
            <thead>
              <tr role="row">
                <th aria-label="Offer Name: activate to sort column ascending" aria-sort="ascending" style="width: 178px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting_asc">Offer Name</th>
                <th aria-label="Task To Perform: activate to sort column ascending" style="width: 234px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">Task To Perform</th>
                <th aria-label="Offer For: activate to sort column ascending" style="width: 245px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">Offer For</th>
                <th aria-label="Offer Type: activate to sort column ascending" style="width: 151px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">Offer Type</th>
                <th aria-label="Punch Count: activate to sort column ascending" style="width: 151px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">Punch Count</th>
                <th aria-label="Offer Valid Upto: activate to sort column ascending" style="width: 151px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">Offer Valid Upto</th>
                <th aria-label="Offer Expires On: activate to sort column ascending" style="width: 151px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">Offer Expires On</th>
                <th colspan="3" aria-label="Actions" style="width: 104px;" colspan="1" rowspan="1" aria-controls="example" tabindex="0" role="columnheader" class="sorting">Actions</th>
              </tr>
            </thead>
            <tbody aria-relevant="all" aria-live="polite" role="alert">
              <% @business_offers.each do |offer| %>
                <tr class="gradeA odd">
                  <td><%= offer.offer_name %></td>
                  <td><%= offer.task_to_perform %></td>
                  <td><%= offer.offer_for %></td>
                  <td><%= offer.offer_type %></td>
                  <td><%= offer.punch_count %></td>
                  <td><%= offer.offer_valid_upto %></td>
                  <td><%= offer.offer_expire_on %></td>
                  <td><%= link_to "",business_offer_path(offer), class: "fa fa-eye" %></td>
                  <td><%= link_to '', edit_business_offer_path(offer), class: "fa fa-pencil" %></td>
                  <td><%= link_to '', business_offer_path(offer), class: "fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>