<div class="col-md-12">
	<div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        <i class="fa fa-archive"></i> <%= @business_offer.offer_name %>
        <span class="panel-options">
          <%= link_to 'Edit', edit_business_offer_path(@business_offer), class: "label label-info" %>
          <%= link_to 'Back', business_offers_path, class: "label label-info" %>
        </span>
      </h3>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <div id="example_wrapper" class="dataTables_wrapper" role="grid">
          <div class="dataTables_length" id="example_length">            
          </div>
          <div id="example_filter" class="dataTables_filter pull-right">            
          </div>
          <table aria-describedby="example_info" class="table table-bordered table-hover table-striped display dataTable" id="example">
            <thead>
              <tr role="row">
                <th>Image</th>
                <th>Offer Name</th>
                <th>Task To Perform</th>
                <th>Task URL</th>
                <th>Offer For</th>
                <th>Punch Count</th>
                <th>Offer Valid Upto</th>
                <th>Offer Expires On</th>
              </tr>
            </thead>       
            <tbody aria-relevant="all" aria-live="polite" role="alert">          
              <tr class="gradeA odd">
                <td><%= image_tag @business_offer.image.try(:url), :size => "150x150" %></td>
                <td><%= @business_offer.offer_name %></td>
                <td><%= @business_offer.task_to_perform %></td>
                <td><%= @business_offer.task_url %></td>
                <td><%= @business_offer.offer_for %></td>
                <td><%= @business_offer.punch_count.to_i %></td>
                <td><%= @business_offer.offer_valid_upto %></td>
                <td><%= @business_offer.offer_expire_on %></td>
              </tr>            
            </tbody>
          </table>
        </div>
      </div>
    </div>
	</div>
</div>
