<!-- .left-sidebar -->
<div class="left-sidebar">
    <div class="sidebar-holder">
        <!-- User   -->
        <div class="user-menu" style="text-align: left !important;">
            <%= link_to admin_businesses_path , :method => "get" do %>
                <div class="user-info">
                    <div class="welcome">Welcome,</div>
                    <div class="username">Admin</div>
                </div>
            <% end %>
       </div>
                    <!-- Menu -->
                <ul class="nav  nav-list" style="text-align: left;">
                    <li class=''>
                        <%= link_to admin_businesses_path, :'data-original-title' =>'Businesses', :method => "get" do %>
                             <i class='fa fa-suitcase'></i>
                            <span class='hidden-minibar'>Businesses</span>
                        <% end %>
                    </li>

                    <li class=' '>
                        <%= link_to admin_stores_path, :method => "get" do %>
                            <i class='fa fa-shopping-cart'></i>
                            <span class='hidden-minibar'>Stores</span>
                        <% end %>
                    </li>
                    <li class=' '>
                        <%= link_to admin_offers_path, :method => "get" do %>
                            <i class='fa fa-ticket'></i>
                            <span class='hidden-minibar'>Offers</span>
                        <% end %>
                    </li>
                     <li class=' '>
                        <%= link_to admin_ibeacons_path, :method => "get" do %>
                            <i class='fa fa-forumbee'></i>
                            <span class='hidden-minibar'>iBeacons</span>
                        <% end %>
                    </li>
                    <li class=' '>
                        <%= link_to edit_admin_setting_content_path(SettingContent.first), :method => "get" do %>
                            <i class='fa fa-file'></i>
                            <span class='hidden-minibar'>Contents</span>
                        <% end %>
                    </li>
                    <li class=' '>
                        <%= link_to admin_edit_path, :method => "get" do %>
                            <i class='fa fa-key'></i>
                            <span class='hidden-minibar'>Change Password</span>
                        <% end %>     
                    </li>
                </ul>
    </div>
<!-- /.left-sidebar Holder-->
</div>