<div class="col-md-12" id="div_3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
       <i class="fa fa-arrows-h"></i>   New iBeacon
       <span class="panel-options">
        <%= link_to 'Show', admin_ibeacons_path(@ibeacon), :class => "label label-info" if !@ibeacon.new_record? %>
        <%= link_to 'Back', admin_ibeacons_path, :class => "label label-info" %>
      </span>
    </h3>
  </div>
  <div class="panel-body">
    <div class="col-md-2"></div>
    
      <%=form_for([:admin,@ibeacon], :html => {:class => "form-horizontal col-md-8"}) do |f| %>
        <% if @ibeacon.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ibeacon.errors.count, "error") %> prohibited this ibeacon from being saved:</h2>
          <ul>
            <% @ibeacon.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          </div>
        <% end %>

        <div class="form-group">
          <label  class="col-sm-3 control-label"><%= f.label :udid %></label>
          <div class="col-sm-9">
            <%= f.text_field :udid, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-3 control-label"><%= f.label :major %></label>
          <div class="col-sm-9">
            <%= f.text_field :major, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label  class="col-sm-3 control-label"><%= f.label :minor %></label>
          <div class="col-sm-9">
            <%= f.text_field :minor, :class => "form-control" %>
          </div>
        </div>

        <div class="actions">
          <%= f.submit class: "btn btn-success" %>
        </div>
<% end %>
