<%= form_for([:business,@business_business], :html => {:id => "defaultForm", :class => "form-horizontal col-md-8 bootstrap-validator-form" }) do |f| %>
  <div class="form-group">
    <label  class="col-sm-3 control-label"><%= f.label :business_name %></label>
    <div class="col-sm-9">
      <%= f.text_field :business_name, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-3 control-label"><%= f.label :address %></label>
    <div class="col-sm-9">
      <%= f.text_field :address, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-3 control-label"><%= f.label :contact_person %></label>
    <div class="col-sm-9">
      <%= f.text_field :contact_person, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-3 control-label"><%= f.label :contact_number %></label>
    <div class="col-sm-9">
      <%= f.text_field :contact_number, :class => "form-control" %>
    </div>
  </div>

  <div class="actions col-sm-6">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
