<h1>Listing iibeacons</h1>

<table>
  <thead>
    <tr>
      <th>Udid</th>
      <th>Major</th>
      <th>Minor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iibeacons.each do |iibeacon| %>
      <tr>
        <td><%= iibeacon.udid %></td>
        <td><%= iibeacon.major %></td>
        <td><%= iibeacon.minor %></td>
        <td><%= link_to 'Show', iibeacon %></td>
        <td><%= link_to 'Edit', edit_iibeacon_path(iibeacon) %></td>
        <td><%= link_to 'Destroy', iibeacon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Iibeacon', new_iibeacon_path %>
